@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-surface text-on-surface antialiased;
    font-family: 'Inter', sans-serif;
    min-height: max(884px, 100dvh);
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #becabc; border-radius: 10px; }

@keyframes scan {
  0%, 100% { top: 0; opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

.scan-line {
  height: 2px;
  background: linear-gradient(90deg, transparent, #00652c, transparent);
  box-shadow: 0 0 15px #79db8d;
}
